.results {
	position: absolute;
	display: grid;
	right: 10px;
	width: calc(50% - 10px);

	.table-header,
	.table-data {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		div {
			text-align: center;
			border: 1px solid black;
		}
	}

	.table-header {
		div {
			display: grid;
			align-items: center;
		}
	}
}
